:root {
    --rich-black: rgba(13, 31, 45, 1);
    --blue-ncs: rgba(15, 131, 193, 1);
    --columbia-blue: rgba(204, 221, 226, 1);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, var(--blue-ncs), var(--columbia-blue));
}

.flex {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--white);
    padding: 0.5em 1em;

}


.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--blue-ncs);
}


.logo-img {
    height: 60px;
    border-radius: 6px;
}


.nav-links {
    list-style: none;
    display: flexbox;
    gap: 2em;

}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: var(--primary-text-color);
}

.nav-item:hover .sub-menu {
    display: block;
}

.sub-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu li:last-child {
    border-bottom: none;
}

.sub-menu li a {
    text-decoration: none;
}


.profile-icon img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--white);
}

.about-us {
    text-align: center;
    padding: 2rem;
}

.about-us h1 {
    font-size: 2.5rem;
    color: var(--white);
}

.about-us p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1rem;
}

.wrapper {
    padding: 2rem 0;
}

.wrapper h2 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
    margin-left: 10%;
}

.sec-slider-cal {
    padding: 10%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 600px) {
    .sec-slider-cal {
        display: block;
        min-height: 1000px;
    }

}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;

}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 600px;
    height: 400px;
    cursor: pointer;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid rgb(58, 54, 54);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(168, 168, 168);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}